
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="tituloProyecto">¡ChapiDice!</h1>
			<i class="descripcionProyecto">Un proyecto que se centra en actividades que mejorara el desarrollo cultural y social en la localidad de Chapiñero </i>
		</div>
		<div class="col"></div>
	</div>
</div>

